footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 3rem 0;
  font-size: 85%;
  background-color: #0b5597;
  text-align: left;

  .heart{
    color: #ff005d;
    }

  p {
    margin-bottom: 0;
  }

  a {
    font-weight: 500;
    color: #55595c;
  }

}   