<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<div class="row">
			<h1>Bell</h1>
			
			<div class="col-sm-8 text-center text-md-left">
				<div class="col-sm-4 d-flex justify-content-center justify-content-md-end">
					<img src="assets/splash_graphic_mybell_bottom.png" alt="generator-ngx-library-demo logo" class="logo">
				</div>
				<!--<p>Click CTA's to see them in action!</p>
				<p class="buttons">
					<a class="btn btn-outline-primary btn-lg" href="https://github.com/priyavratshukla/generator-ngx-library-demo" target="_blank"><i class="fa fa-github fa-lg"></i>  Code on Github</a>
					<a class="btn btn-outline-primary btn-lg" href="doc/index.html" target="_blank"><i class="fa fa-book fa-lg"></i>  Documentation</a>
					<a class="btn btn-outline-primary btn-lg" href="#" (click)="editOnStackBlitz()"><i class="fa fa-bolt fa-lg"></i>  Edit on StackBlitz</a>
        		</p>-->
        		<p>Home screen</p>
			</div>
		</div>

	</div>
</div>

<section class="home">
  <div class="container">
		<!-- put your content here-->
		
	<!--	<my-lib-component></my-lib-component>-->
		
  </div>
</section>
